node_modules
*.log*
.nuxt
.nitro
.cache
.output
.env*
.env
dist
.yarn/cache
.yarn/install-state.gz
.idea
.wrangler
cypress.env.json
.DS_Store

# Test coverage
coverage/
.nyc_output/
*.lcov

# Cypress
cypress/videos/
cypress/screenshots/
cypress/downloads/
